<div class="flex justify-center my-5 ">
  <input type="search" [(ngModel)]="searchInput"
    class="rounded-3xl w-full md:w-[50%]  border-rose-200 focus:border-rose-400 focus:outline-none "
    placeholder="Search Note..">
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2  gap-2">

  @for (note of allNotes()|filterNotes:searchInput; track note._id) {
  <div
    class="border-t-4 border-t-rose-500 p-5 rounded-2xl bg-white shadow-md hover:shadow-lg transition-shadow duration-300">
    <h2 class="text-center text-xl font-semibold text-rose-500 mb-3 wrap-break-word">
      {{note.title}}
    </h2>
    <hr class="border-rose-100 mb-3">
    <p class="text-center text-gray-500 text-sm line-clamp-3 min-h-15">
      {{note.content}}
    </p>
  </div>

  }
</div>
<div class="flex items-center gap-4 mt-4 justify-center">
  <button (click)="prevPage()" [disabled]="currentPage() === 1"
    class="px-4 py-2 bg-rose-400 text-white rounded-lg disabled:opacity-50 cursor-pointer">
    Previous
  </button>

  <span>{{ currentPage() }} / {{ totalPages() }}</span>

  <button (click)="nextPage()" [disabled]="currentPage() === totalPages()"
    class="px-4 py-2 bg-rose-400 text-white rounded-lg disabled:opacity-50 cursor-pointer">
    Next
  </button>
</div>