<mat-form-field class="w-full ">
  <mat-label class="">{{label()}}</mat-label>
  <input [type]="type()" matInput [placeholder]="placeholder()" [id]="iD()" [disabled]="disabled"
    (input)="value=$event.target.value;onChange(value)" (blur)="onTouched()"
    class="focus:outline-none focus:ring-0 bg-transparent ">
</mat-form-field>

@if (control()?.touched&&control()?.errors) {
<mat-error class="text-sm md:text-xl  ">Ensure that these requirements are met:</mat-error>
@if (control()?.hasError('email')) {
<mat-error class="  mb-2"><span class="text-xl px-1.5">*</span>Please enter a valid email
  address</mat-error>
}
@if (control()?.hasError('required')) {
<mat-error class="mb-2"><span class="text-xl px-1.5">*</span>this field is
  <strong>required</strong></mat-error>
}
@if (control()?.hasError('pattern')) {
<mat-error class="   mb-2"><span class="text-xl px-1.5">*</span>accept only egypt phone numbers!</mat-error>
}
@if (control()?.hasError('minlength')) {
<mat-error class="   mb-2"><span class="text-xl px-1.5">*</span>Name Should be more than or equal 3 chars! </mat-error>
}
@if (control()?.hasError('maxlength')) {
<mat-error class="  mb-2"><span class="text-xl px-1.5">*</span>Name Should be less than or equal 20 chars!</mat-error>
}
}